/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

@import url('https://fonts.googleapis.com/css?family=Martel:900&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Text';
  box-sizing: border-box;
}

body {
  margin-top: 70px;
}

 /* NAVBAR */
.navbar_container {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 20px;
  border-bottom: 1px solid gray;
}

.navbar__logo {
  width: 100px;
}

.navbar__menu {
  display: none;
}

 /* HEADER */

.header_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  font-family: 'Martel:900';
  font-size: 2.4rem;
  color: #2c303f;
  padding-left: 20px;
  width: 300px;
}

.header_text {
  color: #5b5e6d;
  font-size: 1rem;
  margin: 20px 0;
  padding-left: 20px;
  min-width: 300px;
}

.header_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header_img {
  height: 305px;
  width: 305px;
}

.header_span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_email {
  border: 1px solid gray;
  border-radius: 8px;
  color: #5b5e6d;
  font-size: 0.8rem;
  text-align: left;
  width: 300px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 16px;
  margin: 0 auto 16px auto;
}

.header_button {
  color: white;
  border: 1px solid #192592;
  border-radius: 8px;
  background-color: #192592;
  width: 300px;
  height: 48px;
}

.header_text_button {
  color: #5b5e6d;
  font-size: 0.8rem;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 32px;
  text-align: center;
}

/* MAIN */
.main_container {
  background-color: #f4f3f4;
  display: flex;
  flex-direction: column;
}

.main_title {
  font-family: 'Martel:900';
  font-size: 1.4rem;
  color: #2c303f;
  text-align: center;
  margin: 40px 0 10px 0;
}

.main_text {
  color: #5b5e6d;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.main_button {
  color: #192592;
  border: 1px solid #192592;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  width: 300px;
  height: 48px;
  margin: auto;
}

.main_img_container {
  width: 250px;
  margin: auto;
  border-bottom: 0.8px solid rgb(229,229,229);
}

.main_img_wrap {
  height: 100px;
  display: flex;
  align-items: center;
 
  width: 150px;
  margin: auto;
}

.main_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main_try {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_span_input {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

/* FOOTER  */
.footer_img_slack {
  width: 80px;
}

.footer_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.footer_list ul {
  min-width: 150px;
  margin-top: 20px;
}

.footer_list ul li {
  list-style: none;
  color: #5b5e6d;
  font-size: 1rem;
  text-align: left;
  margin-top: 10px;
}

.footer_footer {
  background-color: #f4f3f4;
} 

.footer_img_usa {
  height: 32px;
  width: 32px;
}

.footer_status {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #5b5e6d;
  font-size: 1.2rem;
  padding-top: 16px;
}

.footer_midia_usa {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b5e6d;
  padding-top: 16px;
}

.footer_midia_icons {
  color: #5b5e6d;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.fa {
  margin: 8px;
}

@media screen and (min-width: 768px) {

  .header_main {
   align-items: flex-start;
  }

  .header_title {
    width: 600px;
    font-size: 3em;
  }

  .header_text {
    min-width: 700px;
    font-size: 1.2em;
  }

  .header_span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 750px;
    margin-left: 15px;
  }

  .form_email {
    margin: 0 10px 0 0;
    width: 350px;
  }

  .header_button {
    width: 150px;
  }

  .header_text_button {
    align-self: flex-start;
    margin-left: 20px;
    
  }

  .header_img {
    width: 500px;
    height: 500px;
    align-self: center;
  }

  .main_title {
    font-size: 2rem;
  }

  .main_text {
    font-size: 1.1rem;
    width: 700px;
    margin: auto;
    margin-bottom: 20px;
  }

  .main_button {
    width: 150px;
  }

  .main_company_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }

  .main_company_container div:nth-child(1) {
    border-right: 1px solid rgb(229,229,229);
    border-bottom: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(2) {
    border-bottom: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(3) {
    border-bottom: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(4) {
    border-right: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(5) {
    border-right: 1px solid rgb(229,229,229);
  }

 
  .main_img_container {
    margin: 0;
    width: 350px;
    border: none;
    height: 100px;
  }

  .main_try {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main_span {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .main_span h3 {
    font-size: 1.6rem;
  }

  .main_span p {
    font-size: 1rem;
  }

  .main_span p,
  .main_span h3 {
   width: 250px;
  text-align: start;
  margin-left: 20px;
  }

  .main_try input {
    width: 150px;
  }

  .main_span_input {
    flex-direction: row;
    margin-right: 20px;
  }

  .footer_container {
    display: flex;
    flex-direction: row;
  }

  .footer_img_slack {
    margin-right: 50px;
  }
  

  .footer_footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;
  }

  .footer_midia {
    display: flex;
    flex-direction: row;
  }

  .footer_status_container {
    display: flex;
    align-items: center;
  }

  .footer_status {
    width: 400px;
    padding: 0;
    align-items: center;
    justify-content: space-around;
  }

  .footer_midia_icons {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .footer_midia_usa {
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .main_img_container {
     width: 300px;
  }

  .main_company_container div:nth-child(1) {
    border-right: 1px solid rgb(229,229,229);
    border-bottom: 1px solid rgb(229,229,229) ;
  }

  .main_company_container div:nth-child(2) {
    border-right: 1px solid rgb(229,229,229);
    border-bottom: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(3) {
    border-bottom: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(4) {
    border-right: 1px solid rgb(229,229,229);
  }

  .main_company_container div:nth-child(5) {
    border-right: 1px solid rgb(229,229,229);
  }
}


@media screen and (min-width: 1440px) {
  .navbar_container {
    height: 80px;
  }

  .navbar__menu {
    display: inline;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: center;
  }

  .navbar__menu li{
    margin-right: 40px;
    list-style: none;
    color: #5b5e6d;
  }

  .navbar__menu li:nth-child(4){
    margin-left: 20px;
    border: 1px solid #5b5e6d;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .navbar_menu {
    display: none
  }

  .header_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
  }

  .header_img {
    height: 700px;
    width: 700px;
  }

  .header_text {
    max-width: 200px;
    font-size: 1.5rem;
  }

  .form_email {
    display: none;
  }

  .main_img_container {
    width: 400px;
  }

  .footer_container {
    justify-content: space-between;
  }

  .footer_footer {
    padding: 0 50px;
  }
}